@model List<FavouritesDTO>

<a asp-action="Create">
    <button type="button" class="btn btn-success">Create</button>
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var favourites in Model)
        {
            <tr>
                <th scope="row">@favourites.Id</th>
                <td>@favourites.Item</td>
                @if (User.Identity.Name == favourites.CreatedBy)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@favourites.Id">
                            <button type="button" class="btn btn-warning">Edit</button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@favourites.Id">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
