@*

*@
@{
    <div>
        <p class="text-center">Your registration has been completed successfully. Thank you for joining our community!</p>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
}
