<h1>Create Order</h1>

<form asp-action="Create">
    <div class="form-group">
        <label>Choosen item</label>
        <input type="text" class="form-control" placeholder="Enter the name of your choosen item" name="choosenItem">
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" placeholder="Enter item quantity" name="quantity">
    </div>
    <div class="form-group">
        <label>Ordered for</label>
        <input type="date" class="form-control" placeholder="Enter the date you wish to receive your order" name="orderedFor">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
</form>
