 <h1>Create Oder</h1>

    <form asp-action="Create">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter name of the item" name="name">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" placeholder="Enter price" name="price">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Cancel</button>
        </a>
    </form>
