<h1>Create Order</h1>

        @*public int Id { get; set; }
        public string Name { get; set; }
        public decimal Price { get; set; }
        public string Type { get; set; }
        public int QuantityAvailable { get; set; }
        public DateTime OrderDate { get; set; }
        public decimal FullPrice { get; set; }

        [ForeignKey("User")]
        public int UserId { get; set; }
        public User User { get; set; }*@
<form asp-action="Create">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter name" name="name">
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="number" class="form-control" placeholder="Enter quantity" name="quantity">
    </div>
    <div class="form-group">
        <label>Created by</label>
        <input type="text" class="form-control" placeholder="Enter the creator" name="createdBy">
    </div>
    <div class="form-group">
        <label>Ordered on</label>
        <input type="datetime" class="form-control" placeholder="Enter the time of the order" name="orderedOn">
    </div>
    <div class="form-group">
        <label>Full price</label>
        <input type="number" class="form-control" placeholder="Enter full price" name="fullPrice">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
</form>
