@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joyful Jewells</h1>
    <br></br>
    <h5>
        “Jewellry has the power to be the one little thing that makes you feel unique.”
        - Elizabeth Taylor
        <br></br>
    </h5>
    <p class="text-left">
        <mark>Interesting</mark> facts:
    </p>
    <p class="text-left">
        <small>
            1. The word gold comes from an Old English word geolu which means yellow.
        </small>
    </p>
    <p class="text-left">
        <small>
            2. Diamonds were first discovered in India!
        </small>
    </p>
    <p class="text-left">
        <small>
            3. Jewellery comes from an old French word joule which is derived from a Latin word jocale which means playing.
        </small>
    </p>
    <p class="text-left">
        <small>
            4. It can have sentimental value.
        </small>
    </p>
    <h6 class="text-right">
        Feel confident and beautiful! Be remembered!
    </h6>
</div>

