@{
    ViewData["Title"] = "Sources";
}
<h1>@ViewData["Title"]</h1>

<h5>Joyful Jewells is made for educational purposes. It's not commercial.</h5>

<p>
    The images we used are from:
</p>
<ul class="list-group">
    <li class="list-group-item">https://hbs-media.harpersbazaar.com.sg</li>
    <li class="list-group-item">https://media.cnn.com</li>
    <li class="list-group-item">https://www.vam.ac.uk</li>
</ul>
