@{
    ViewData["Title"] = "Sources";
}
<h1>@ViewData["Title"]</h1>

<h5 class="text-capitalize, text-danger">Joyful Jewells is made for educational purposes. It's not commercial!</h5>

<div class="text-center">
    <img src="https://d20ohkaloyme4g.cloudfront.net/img/document_thumbnails/7277460e84aa2c3a2b2c7902532b4386/thumb_1200_1697.png" alt="first_image"
         width="200"
         height="300">
</div>
<p>
    The images we used are from:
</p>
<ul class="list-group">
    <li class="list-group-item">https://hbs-media.harpersbazaar.com.sg</li>
    <li class="list-group-item">https://media.cnn.com</li>
    <li class="list-group-item">https://www.vam.ac.uk</li>
    <li class="list-group-item">https://www.jewelrycult.com</li>

</ul>
